@use '../../utils/variables';

.toggle {
    background-color: variables.$dark-green;
    border-radius: 2rem;
    bottom: 1rem;
    height: 3rem;

    &.open {
        right: 31%;
    }

    &.closed {
        right: 1%
    }

    /* The SVG should take up 100% of the height and width of the parent Button. */
    svg {
        height: 100%;
        width: 100%;
    }
}
