.open-negative-margin {
    background-color: #0A3055;
    border-radius: 10px;
    bottom: 4rem;
}

button {
    bottom: 1rem;

    &.open {
        border-radius: 9999px;
        border-style: solid;
        border-color: rgb(229, 231, 235);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        right: 31%;
    }

    &.closed {
        background: none;
        right: 1%
    }
}
