$dark-green: #0e3639;
$accent-yellow: #f0cc00;

// Paragon variables: https://github.com/edx/brand-edx.org/blob/master/paragon/_variables.scss
$gray-200: #cccccc !default;
$gray-300: #adadad !default;
$gray-400: #8f8f8f !default;

$brand-100: #F49974;

$black: #000;
$white: #fff;
