@use '../../utils/variables';

.sidebar {
  box-shadow: 0 0 1rem 0 #00000026,0 0 .625rem 0 #00000026;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
  max-width: 25rem;
  /* Add smooth scrolling behavior */
  scroll-behavior: smooth;

  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  button.chat-close {
    top: 0;
    right: 0;
  }

  .sidebar-header {
    background: linear-gradient(to left, rgb(58, 101, 108) 0px, rgb(0, 29, 34));
    width: 100%;
    height: 60px;

    svg {
      height: 30px;
    }
  }

  .trial-header {
    font-size: 0.9em;
    background-color: #F49974;
  }
}

.separator {
  z-index: 100;
  width: 100%;
  height: 5px;
  padding: 5px;
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
  opacity: 0.3;
}
