@use '../../utils/variables';

.sidebar {
  box-shadow: 0 0 1rem 0 #00000026,0 0 .625rem 0 #00000026;
  top: 0;
  bottom: 0;
  background-color: white;

  width: 30%;
  right: 0;

  /* Add smooth scrolling behavior */
  scroll-behavior: smooth;

  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  button.chat-close {
    top: 0;
    right: 0;
  }

  form {
    input {
      border-width: 1px;
      border-color: #D1D5DB;
      border-radius: 0.375rem;
      border-style: solid;

      &:hover {
        border-color: variables.$dark-green;
      }
    }
  }
}

.separator {
  z-index: 100;
  width: 100%;
  height: 10px;
  padding: 10px;
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
  opacity: 0.2;
}
