@use '../../utils/variables';

.sidebar {
  box-shadow: 0 0 1rem 0 #00000026,0 0 .625rem 0 #00000026;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
  max-width: 25rem;

  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  button.chat-close {
    top: 0.75rem;
    right: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;

    .btn-icon__icon {
      width: 1.375rem !important;
      height: 1.375rem !important;
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, rgb(58, 101, 108) 0px, rgb(0, 29, 34));
    width: 100%;
    height: 48px;
    padding: 0 1.5rem;


    svg {
      display: block;
      height: 24px;
    }
  }

  .sidebar-footer {

  }

  .trial-header {
    font-size: 0.9em;
    background-color: #F49974;
  }
}
