.msg {
  width: fit-content;
  max-width: 70%;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 10px;
  text-align: left;
  font-size: 15px;
}

.msg.user {
  background:#EBEBEB;
  margin-left: auto;
}

.msg.assistant {
  background:#0A3055;
  color: white;
}

.time {
  font-size: 10px;
  padding-left: 10px;
  text-align: right;
}
