@use '../../utils/variables';

.message {
  width: fit-content;
  max-width: 70%;
  border-radius: 10px;
  font-size: 15px;

  &.user {
    background: variables.$dark-green;
  }

  &.assistant {
    background: #F2F0EF;
  }
}

.time {
  font-size: 10px;
}
